/******************************************************************

Stylesheet: ベーススタイル(スマホ)

******************************************************************/



img {
  max-width: 100%;
  vertical-align: bottom;
}

//Font
.font-sm{
  font-size: 15px;
  font-weight: 600;
}
.font-md{
  font-size: 18px;
}
.font-lr{
  font-size: 18px;
  font-weight: 600;
}
.font-lg{
  font-size: 25x;
}

//margin,padding
.mb-sm{
  margin-bottom: 16px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}
.pb-sm{
  padding-bottom: 16px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

.content-width{
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title{
  font-size: 10px;
  margin-bottom: 0;
  font-weight: 600;
}

.flex{
  display: flex;
  flex-direction: column;
}

.header{
  @extend .flex;

  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  height: 62px;

  &__inner{
    padding-left: 7px;
  }

  &__logo{
    width: 40%;
  }

  &__form{
    height: 62px;
    padding: 9px 11px;
    text-align: center;
    background-color:#da6b64;

    & > img{
      width: 20px;
    }

    & > p{
      margin-bottom: 0;
      color: $cWhite;
      font-size: 12px;
    }

  }
}

.hero{

  &__inner{
    width: 100%;
    height: 312px;
    background-image: url("../../images/mainsp.jpg");
    background-position: center;
    background-size: cover;
  }

  &__texts{
    text-align: center;
    padding: 25px 0 25px 0;

    & > p{
      margin: 0;
    }
  }

  &__logo{
    width: 90%;
    max-width: 317px;
    margin: 25px 0 25px 0;
  }

}

.conversion{
  text-align: center;
  background-color: #ebb94d;
  color: $cWhite;

  &__inner{
    @extend .content-width;
    @extend .font-sm;
  }

  &__enph{
    background-color: $cWhite;
    color: #c7254e;
    border-radius: 4px;
  }

  &__button{
    cursor: pointer;
    padding: 15px 20px;
    background-color: #da6b64;
    border-radius: 50px;
    border: none;
    color: #fff;
    margin: 10px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 1028px;

    & > p{
      margin-bottom: 0;
    }
  }
}

.introduction{
  @extend .content-width;
  @extend .mb-sm;

  &__yellowBracket{
    @extend .mb-sm;

    position: relative;
  }

  &__title{
    @extend .font-lr;
    line-height: 40px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border-top: 4px solid #ebb94d;
      border-left: 4px solid #ebb94d;
      box-sizing: border-box;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 30px;
      border-bottom: 4px solid #ebb94d;
      border-right: 4px solid #ebb94d;
      box-sizing: border-box;
    }
  }

  &__texts{
    text-align: center;

    & > p{
      font-weight: 300;
    }
  }
}