/******************************************************************

Stylesheet: ベーススタイル(スマホ)

******************************************************************/

body{
  letter-spacing: 1.5px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

//Font
.font-sr{
  font-size: 12px;
  font-weight: 600;
}

.font-sm{
  font-size: 15px;
  font-weight: 600;
}
.font-md{
  font-size: 18px;
}
.font-lr{
  font-size: 18px;
  font-weight: 600;
}
.font-lg{
  font-size: 25x;
}

//margin,padding
.mb-sm{
  margin-bottom: 16px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}
.pb-sm{
  padding-bottom: 16px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

.content-width{
  width: 95%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title{
  font-size: 10px;
  margin-bottom: 0;
  font-weight: 600;
}

.flex{
  display: flex;
  flex-direction: column;
}

.header{
  @extend .flex;

  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  height: 62px;

  &__inner{
    padding-left: 7px;
  }

  &__logo{
    width: 40%;
  }

  &__form{
    height: 62px;
    padding: 9px 11px;
    text-align: center;
    background-color:#da6b64;

    & > img{
      width: 20px;
    }

    & > p{
      margin-bottom: 0;
      color: $cWhite;
      font-size: 12px;
    }

  }
}

.hero{

  &__inner{
    width: 100%;
    height: 312px;
    background-image: url("../../images/mainsp.jpg");
    background-position: center;
    background-size: cover;
  }

  &__texts{
    text-align: center;
    padding: 25px 0 25px 0;

    & > p{
      margin: 0;
    }
  }

  &__logo{
    width: 90%;
    max-width: 317px;
    margin: 25px 0 25px 0;
  }

}

.conversion{
  text-align: center;
  background-color: #ebb94d;
  color: $cWhite;

  &__inner{
    @extend .content-width;
    @extend .font-sm;
  }

  &__enph{
    background-color: $cWhite;
    color: #c7254e;
    border-radius: 4px;
  }

  &__button{
    cursor: pointer;
    padding: 15px 20px;
    background-color: #da6b64;
    border-radius: 50px;
    border: none;
    color: #fff;
    margin: 10px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 1028px;

    & > p{
      margin-bottom: 0;
    }
  }
}

.introduction{
  &__yellowBracket{
    @extend .content-width;
    @extend .mb-sm;

    position: relative;
  }

  &__title{
    @extend .font-lr;
    @extend .bracket;
    @extend .content-width;
  }

  &__contents{
    background: url("../../images/introbottom.jpg"); 
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 470px;
    text-align: center;
    padding: 40px 0;
    text-align: center;   
  }

  &__texts{
    @extend .content-width;
    
    text-align: center;
  }
}

.about{
  text-align: center;
  background-color: #fef5e0;
  padding-bottom: 70px; 

  &__icon{
    background-color: #ebb94d;
    color: $cWhite;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    transform: translateY(-30px)
  }

  &__title{
    @extend .content-width;
    @extend .bracket;
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__sub-title{
    @extend .content-width;
    @extend .font-sm;
    @extend .mb-sm;
  }

  &__contents{
    @extend .content-width;
  }

  &__text{
    width: 100%;
    margin: 15px 0;
  }

  &__box-container{
    @extend .flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $cWhite;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    & > .box{
      display: inline-block;
      padding: 5px;
      width: 120px;
      height: 90px;

      & > img{
        height: 30px;
        width: auto;
      }

      & > p{
        font-size: 10px;
        margin: 10px 0;
      }
      
    }
  }

}

.aboutsecond{
  &__contents{
    background: url("../../images/aboutsecondbgsp.jpg") center top no-repeat;
    padding: 50px 0;
  }

  &__title{
    @extend .content-width;
    @extend .font-lr;

    color: $cWhite;
    text-align: center;
    margin-bottom: 15px;
  }

  &__explain{
    @extend .content-width;
    @extend .font-sr;

    color: $cWhite;
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
  }

  &__container{
    @extend .content-width;
    @extend .flex;
  }

  &__box{
    background-color: $cWhite;
    margin: 10px 20px;
    padding: 15px 50px;
    border-radius: 5px;
  }

  &__step{
    @extend .font-sr;
    @extend .content-width;

    background-color: #ebb94d;
    color: $cWhite;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  &__flow{
    @extend .font-sr;

    text-align: center;
    margin-bottom: 1rem;
  }
  &__flow-t{
    @extend .font-sr;

    text-align: center;
    margin-bottom: 0;
  }

  &__footer{
    @extend .font-sr;

    background-color: #016ea9;
    color: $cWhite;
    text-align: center;
    padding: 20px 0;

    & > p{
      @extend .content-width;
    }
  }

  &__enph{
    color: #ebb94d;
  }
}

.learning{
  padding: 50px 0; 

  &__title{
    @extend .content-width;
    @extend .font-lr;

    text-align: center;
    margin-bottom: 15px;
  }

  &__texts{
    @extend .content-width;
    @extend .font-sm;

    text-align: center;
    margin-bottom: 15px;
    font-weight: 300;
  }

  &__container{
    @extend .flex;
    @extend .content-width;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
  }

  &__icon{
    width: 60px;
    height: auto;
    padding: 5px;
  }

  &__conclusion{
    @extend .content-width;
    @extend .font-sr;

    text-align: center;
  }
}

.merit{
  padding: 40px 0;
  background-color: #fef5e0;

  &__title{
    @extend .content-width;
    @extend .bracket;

    line-height: 25px;

    & > p{
      @extend .font-sm;
    }

    & > h2{
    @extend .font-lr;
    }
  }

  &__container{
    @extend .flex;
    @extend .content-width;  

    margin-top: 20px;
    text-align: center;
  }

  &__box{
    @extend .content-width;

    & > img{
      width: 100%;
      height: 120px;
      object-fit: cover;
    }

    & > h2{
      @extend .font-sm;

      color: #ebb94d;
      margin-top: 1rem;
    }

    & > p{
      @extend .font-sr;

      margin-top: 1rem;
      font-weight: 300;
    }
  }

  &__support{
    @extend .content-width;

    padding: 20px 0;
    width: 90%;
    background-color: $cWhite;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    text-align: center;

    & > h2{
      @extend .content-width;
      @extend .font-lr;

      color: #ebb94d;
    }

    & > h3{
      @extend .content-width;
      @extend .font-sm;
      
      margin-top: 1rem;
    }

    & > p{
      @extend .content-width;
      @extend .font-sr;

      margin-top: 1rem;
    }
  }

  &__bottom{
    @extend .font-sr;
    @extend .content-width;

    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }
}

.teacher{
  background: url("../../images/teacherbgsp.jpg") center top no-repeat;
  padding: 20px 0;

  &__title{
    @extend .font-sr;

    margin: 40px 0;
    text-align: center;
    color: $cWhite;
  }

  &__text{
    @extend .font-sr;

    margin: 40px 0;
    color: $cWhite;
    text-align: center;
  }

  &__container{
    @extend .flex;
    @extend .content-width;
  }

  &__member{
    position: relative;
    text-align: center;
    margin: 10px 0;

    & > img{
      position: relative;
      z-index: 10;
      width: 130px;
      height: auto;
      border-radius: 50%;
    }
  }

  &__box{
    position: relative;
    z-index: 1;
    border: 2.5px solid $cWhite;
    padding-top: 50px;
    transform: translateY(-40px); 
    text-align: center;

    & > p{
      @extend .font-sr;
      @extend .content-width;

      color: $cWhite;
      margin-bottom: 1rem; 
    }
  }
}

.why{
  position: relative;
  background-color: #ebb94d;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; 

  &__icon{
    margin: 0 auto;
    background-color: $cWhite;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #ebb94d;
  }

  &__title{
    @extend .bracket;
    @extend .content-width;
    @extend .font-sm;

    line-height: 30px;
    color: $cWhite;
    margin-top: 20px;

    &::before{
      border-top: 4px solid $cWhite;
      border-left: 4px solid $cWhite;
    }

    &::after{
      border-bottom: 4px solid $cWhite;
      border-right: 4px solid $cWhite;
    }
  }

  &::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #ebb94d;
    top: 100%;
    left: 50%;
    margin-left: -15px;
  }
}