.bracket{
  position: relative;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
    box-sizing: border-box;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
    box-sizing: border-box;
  }
}