@charset "UTF-8";
.bracket, .introduction__title, .about__title, .merit__title, .why__title, .specialdetail__bracket {
  position: relative;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.bracket::before, .introduction__title::before, .about__title::before, .merit__title::before, .why__title::before, .specialdetail__bracket::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bracket::after, .introduction__title::after, .about__title::after, .merit__title::after, .why__title::after, .specialdetail__bracket::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/******************************************************************

Stylesheet: ベーススタイル(スマホ)

******************************************************************/
body {
  letter-spacing: 1.5px;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sr, .aboutsecond__explain, .aboutsecond__step, .aboutsecond__flow, .aboutsecond__flow-t, .aboutsecond__footer, .learning__conclusion, .merit__box > p, .merit__support > p, .merit__bottom, .teacher__title, .teacher__text, .teacher__box > p, .answer__top > h3, .answer__top > p, .answer__texts, .class__title > p, .class__list > ul > li, .flow__title, .bangkok__sub, .bangkok__reason, .bangkok__conc, .special__title, .special__sub, .special__real, .special__icon, .special__texts, .specialdetail__title, .specialdetail__sub, .specialdetail__conc, .message__title, .contactform__title, .contactform__sub, .questions__title {
  font-size: 12px;
  font-weight: 600;
}

.font-sm, .conversion__inner, .about__sub-title, .learning__texts, .merit__title > p, .merit__box > h2, .merit__support > h3, .why__title, .class__list > p, .class__bottom > p, .bangkok__title, .message__sub, .message__texts, .questions__question > p {
  font-size: 15px;
  font-weight: 600;
}

.font-md {
  font-size: 18px;
}

.font-lr, .introduction__title, .about__title, .aboutsecond__title, .learning__title, .merit__title > h2, .merit__support > h2, .answer__top > h2, .class__title > h2, .specialdetail__bracket > h2 {
  font-size: 18px;
  font-weight: 600;
}

.font-lg, .main-title {
  font-size: 25x;
}

.mb-sm, .introduction__yellowBracket, .about__title, .about__sub-title {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .conversion__inner, .introduction__yellowBracket, .introduction__title, .introduction__texts, .about__title, .about__sub-title, .about__contents, .aboutsecond__title, .aboutsecond__explain, .aboutsecond__container, .aboutsecond__step, .aboutsecond__footer > p, .learning__title, .learning__texts, .learning__container, .learning__conclusion, .merit__title, .merit__container, .merit__box, .merit__support, .merit__support > h2, .merit__support > h3, .merit__support > p, .merit__bottom, .teacher__container, .teacher__box > p, .why__title, .answer, .class__title, .class__container, .class__bottom > p, .flow, .bangkok__title, .bangkok__sub, .bangkok__reasons, .bangkok__conc, .special__title, .special__sub, .special__container, .specialdetail__title, .specialdetail__sub, .specialdetail__bracket, .message, .questions {
  width: 95%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  font-size: 10px;
  margin-bottom: 0;
  font-weight: 600;
}

.flex, .header, .about__box-container, .aboutsecond__container, .learning__container, .merit__container, .teacher__container, .answer__container, .answer__member, .class__container, .flow__link, .special__box, .message__container, .questions__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

.header__inner {
  padding-left: 7px;
}

.header__logo {
  width: 40%;
}

.header__form {
  height: 62px;
  padding: 9px 11px;
  text-align: center;
  background-color: #da6b64;
}

.header__form > img {
  width: 20px;
}

.header__form > p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
}

.hero__inner {
  width: 100%;
  height: 312px;
  background-image: url("../../images/mainsp.jpg");
  background-position: center;
  background-size: cover;
}

.hero__texts {
  text-align: center;
  padding: 25px 0 25px 0;
}

.hero__texts > p {
  margin: 0;
}

.hero__logo {
  width: 90%;
  max-width: 317px;
  margin: 25px 0 25px 0;
}

.conversion {
  text-align: center;
  background-color: #ebb94d;
  color: white;
}

.conversion__enph {
  background-color: white;
  color: #c7254e;
  border-radius: 4px;
}

.conversion__button {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #da6b64;
  border-radius: 50px;
  border: none;
  color: #fff;
  margin: 10px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 1028px;
}

.conversion__button > p {
  margin-bottom: 0;
}

.introduction__yellowBracket {
  position: relative;
}

.introduction__contents {
  background: url("../../images/introbottom.jpg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 470px;
  text-align: center;
  padding: 40px 0;
  text-align: center;
}

.introduction__texts {
  text-align: center;
}

.about {
  text-align: center;
  background-color: #fef5e0;
  padding-bottom: 70px;
}

.about__icon {
  background-color: #ebb94d;
  color: white;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.about__text {
  width: 100%;
  margin: 15px 0;
}

.about__box-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.about__box-container > .box {
  display: inline-block;
  padding: 5px;
  width: 120px;
  height: 90px;
}

.about__box-container > .box > img {
  height: 30px;
  width: auto;
}

.about__box-container > .box > p {
  font-size: 10px;
  margin: 10px 0;
}

.aboutsecond__contents {
  background: url("../../images/aboutsecondbgsp.jpg") center top no-repeat;
  padding: 50px 0;
}

.aboutsecond__title {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.aboutsecond__explain {
  color: white;
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
}

.aboutsecond__box {
  background-color: white;
  margin: 10px 20px;
  padding: 15px 50px;
  border-radius: 5px;
}

.aboutsecond__step {
  background-color: #ebb94d;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.aboutsecond__flow {
  text-align: center;
  margin-bottom: 1rem;
}

.aboutsecond__flow-t {
  text-align: center;
  margin-bottom: 0;
}

.aboutsecond__footer {
  background-color: #016ea9;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.aboutsecond__enph {
  color: #ebb94d;
}

.learning {
  padding: 50px 0;
}

.learning__title {
  text-align: center;
  margin-bottom: 15px;
}

.learning__texts {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 300;
}

.learning__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.learning__icon {
  width: 60px;
  height: auto;
  padding: 5px;
}

.learning__conclusion {
  text-align: center;
}

.merit {
  padding: 40px 0;
  background-color: #fef5e0;
}

.merit__title {
  line-height: 25px;
}

.merit__container {
  margin-top: 20px;
  text-align: center;
}

.merit__box > img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.merit__box > h2 {
  color: #ebb94d;
  margin-top: 1rem;
}

.merit__box > p {
  margin-top: 1rem;
  font-weight: 300;
}

.merit__support {
  padding: 20px 0;
  width: 90%;
  background-color: white;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  text-align: center;
}

.merit__support > h2 {
  color: #ebb94d;
}

.merit__support > h3 {
  margin-top: 1rem;
}

.merit__support > p {
  margin-top: 1rem;
}

.merit__bottom {
  margin-top: 1rem;
  text-align: center;
  font-weight: 300;
}

.teacher {
  background: url("../../images/teacherbgsp.jpg") center top no-repeat;
  padding: 20px 0;
}

.teacher__title {
  margin: 40px 0;
  text-align: center;
  color: white;
}

.teacher__text {
  margin: 40px 0;
  color: white;
  text-align: center;
}

.teacher__member {
  position: relative;
  text-align: center;
  margin: 10px 0;
}

.teacher__member > img {
  position: relative;
  z-index: 10;
  width: 130px;
  height: auto;
  border-radius: 50%;
}

.teacher__box {
  position: relative;
  z-index: 1;
  border: 2.5px solid white;
  padding-top: 50px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  text-align: center;
}

.teacher__box > p {
  color: white;
  margin-bottom: 1rem;
}

.why {
  position: relative;
  background-color: #ebb94d;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.why__icon {
  margin: 0 auto;
  background-color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #ebb94d;
}

.why__title {
  line-height: 30px;
  color: white;
  margin-top: 20px;
}

.why__title::before {
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.why__title::after {
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.why::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -15px;
}

.answer {
  text-align: center;
  padding-top: 40px;
}

.answer__top > p {
  color: #777;
  padding: 20px 0;
}

.answer__member {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.answer__img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #ebb94d;
  margin-right: 10px;
}

.answer__texts {
  text-align: left;
  font-style: italic;
  color: #777;
}

.answer__span {
  border-bottom: 1px solid #777;
}

.class {
  background: url("../../images/classbgsp.jpg") center top no-repeat;
  padding-top: 20px;
  text-align: center;
}

.class__title {
  padding: 20px 0;
}

.class__title > h2 {
  color: white;
}

.class__title > p {
  color: white;
}

.class__list {
  background-color: white;
  border: 2px solid #016ea9;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.class__list > p {
  font-weight: 100;
  background-color: #016ea9;
  padding: 12px;
  margin: 0;
  color: white;
}

.class__list > ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.class__list > ul > li {
  padding: 15px;
  border-bottom: 1px dotted #e5e5e5;
}

.class__bottom {
  background-color: #016ea9;
  padding: 10px 0;
}

.class__bottom > p {
  color: white;
  padding: 12px;
}

.flow {
  text-align: center;
  padding: 35px 0;
}

.flow__title {
  padding: 20px 0;
}

.flow__icons {
  display: none;
}

.flow__links {
  padding-left: 0;
}

.flow__link {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fef5e0;
  margin: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__link > p {
  margin: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flow__leftimg {
  width: 40px;
  height: auto;
  margin: 10px;
}

.flow__rightimg {
  height: 20px;
  width: auto;
  margin: 10px;
}

.bangkok {
  background: url("../../images/bangkokbgsp.jpg") center top no-repeat;
  background-size: cover;
  padding: 30px 0;
  color: white;
}

.bangkok__title {
  margin: 15px 0;
  text-align: center;
}

.bangkok__sub {
  font-weight: 100;
  text-align: center;
  width: 85%;
  letter-spacing: 0.5px;
}

.bangkok__reasons {
  width: 85%;
  padding: 10px 0;
}

.bangkok__reason {
  margin-bottom: 0.8rem;
}

.bangkok__conc {
  width: 85%;
}

.special {
  background-color: #f7c23c;
  padding: 25px 0;
  text-align: center;
}

.special__title {
  padding: 20px 0;
}

.special__sub {
  width: 85%;
  padding-top: 10px;
}

.special__enph {
  color: white;
}

.special__real {
  position: relative;
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
  z-index: 10;
  background-color: #f7c23c;
  width: 250px;
  margin: 0 auto;
}

.special__container {
  position: relative;
  border: 2px solid white;
  padding: 30px 0;
  z-index: 1;
}

.special__box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
}

.special__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  margin: 15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #f7c23c;
}

.special__texts {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  color: white;
  margin: 16px 0;
}

.specialdetail {
  background: url("../../images/specialdetailsp.jpg") center top no-repeat;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.specialdetail__title {
  padding: 20px 0;
}

.specialdetail__bracket::before {
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.specialdetail__bracket::after {
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.specialdetail__conc {
  padding: 20px 0;
}

.message {
  padding: 20px 0;
}

.message__title {
  text-align: center;
  padding: 20px 0;
}

.message__sub {
  text-align: center;
  padding: 10px 0;
}

.message__texts {
  font-weight: 300;
  margin: 1em 0;
}

.message__texts > ul {
  padding-left: 20px;
}

.contactform {
  background-color: #ebb94d;
  text-align: center;
  padding: 2em 0;
}

.contactform__title {
  padding: 1em 0;
}

.contactform__sub {
  letter-spacing: 1.5px;
  padding: 1em 0;
}

.contactform__forms {
  list-style: none;
  padding-left: 0;
}

.contactform__form {
  height: 3.5rem;
  width: 80%;
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8em;
}

.contactform__textarea {
  height: 7em;
  width: 80%;
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8em;
}

.contactform__submitbutton {
  height: 2.5em;
  width: 330px;
  background-color: #da6b64;
  color: #fff;
  padding: 10px 80px;
  margin: 1em 0;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
  border: none;
}

.questions {
  text-align: center;
  padding: 2em 0;
}

.questions__title {
  padding: 1em 0;
}

.questions > ul {
  list-style: none;
  padding-left: 0;
}

.questions__question {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 5px 0;
  padding: 10px;
}

.questions__question > p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */